@import "/src/assets/styles/reset.scss";
@import "/src/assets/styles/variables.scss";
.containerPubli {
  
  background: linear-gradient(
    45deg,
    rgba(255, 188, 116, 0.5) 0%,
    rgba(248, 248, 248, 1) 50%,
    rgba(255, 118, 116, 0.4963235294117647) 100%
  );

  &__figure {
    margin-bottom: 10px;
    height: 65vh;
    width: 100%;
    position: relative;
    display: inline-block;

    .profile {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
    }
    .icon-left {
      position: absolute;
      left: 0;
      top: 0;
      width: 12px;
      height: 16px;
      margin: 20px;
      cursor: pointer;
    }

    .icon-right {
      position: absolute;
      top: 0;
      width: 20px;
      height: 20px;
      margin: 20px;
      right: 0;
    }
  }
  .infoProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
    border-radius: 20px;
    margin: 0 auto;
    gap: 30px;
    position: absolute;
    bottom: 190px; //170px
    padding: 5px;
    font-family: "Balsamiq Sans", cursive;
    left: 0;
    right: 0;
    flex-wrap: nowrap;
    max-width: 250px;
    .user {
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 12px;
      }
      .avatar {
        width: 45px;
        height: 45px;
        margin: 0;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    .reactions {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0px;
      .reaction {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
  .coment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    .photo {
      width: 32px;
      height: 32px;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .input-container {
      position: relative;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 20px;
      padding: 10px;
      background-color: $white;
      width: 400px;
      
      .inputField {
        flex: 1;
        border: none;
        outline: none;
        padding: 0 10px;
        font-size: 12px; 
        width: 100%;
        color: black;
        font-family: $font-secondary;
      }

      .inputIcon {
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  p {
    font-size: 12px;
    margin-top: 30px;
    padding: 0 20px;
    text-align: justify;
    font-family: $font-secondary;
  }
  .avatar {
    width: 45px;
    height: 45px;
    margin: 0;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .comentarios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .comenta{
      display: flex;
      justify-content: space-between;
    }
    .two{
      display: flex;
      
    }
    .answer{
      display: flex;
      flex-direction: column;
    }

    .title{
      font-family: $font-primary;
    }
    .nameUser{
      font-family: $font-secondary;
      font-size: 16px;
      font-weight: bold;
    }
    .textComm{
      font-family: $font-secondary;
      font-size: 13px;
    }
    .timestamp{
      font-family: $font-secondary;
      font-size: 13px;
    }
  }
}


@media (min-width: 370px) {
  .containerPubli {
    .profile {
      object-fit: cover;
      object-position: center top;
      width: 100%;
      height: 100%;
    }
  }
}