@import "/src/assets/styles/reset.scss";
@import "/src/assets/styles/variables.scss";

.container {
  .swiper_container {
    .swiper-slide {
      width: 64px !important;
      display: 64px !important;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden; /* Evita que las im치genes se desborden si no tienen el mismo tama침o */
      img {
        border-radius: 50%; /* Hace que las im치genes sean redondas */
        width: 100%;
        height: 100%  ;
        object-fit: cover; /* Ajusta las im치genes para llenar completamente el espacio redondo */
        
    }
    }
  }
}
