@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Balsamiq+Sans:wght@400;700&display=swap');

$red: #FF7674;
$light-pink: #FF74B7;
$bright-pink: #FF74FC;
$orange: #FFBC74;
$white: #F8F8F8;
$font-primary: 'Balsamiq Sans', cursive;
$font-secondary: 'Baloo Thambi 2', cursive;
