@import "/src/assets/styles/reset.scss";
@import "/src/assets/styles/variables.scss";

.nav {
  background-color: $light-pink;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav__menu {
    display: flex;
    align-items: center;
    gap: 40px;
    .icon {
      width: 24px;
      height: 24px;
      margin: 0 12px;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }

    .more {
      // width: 30px;
      // height: 30px;
      // background-color: #fff;
      // border-radius: 50%;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // margin: 0 12px;
      // cursor: pointer;
      // box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      // position: relative;

      // &:before {
      //   content: "";
      //   width: 8px;
      //   height: 8px;
      //   background-color: #ff4b5c;
      //   border-radius: 50%;
      //   position: absolute;
      //   bottom: -4px;
      //   right: -4px;
      // }
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #FF74B7;
      position: absolute;
      bottom: 35px;
      left: calc(50% - 16px);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
      padding: 12px;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
      
    }
  }
}
