@import "/src/assets/styles/reset.scss";
@import "/src/assets/styles/variables.scss";

.comentarios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
    .comenta{
      display: flex;
      justify-content: space-between;
    }
    .two{
      display: flex;
      
    }
    .answer{
      display: flex;
      flex-direction: column;
    }

    .title{
      font-family: $font-primary;
    }
    .nameUser{
      font-family: $font-secondary;
      font-size: 16px;
      font-weight: bold;
    }
    .textComm{
      font-family: $font-secondary;
      font-size: 13px;
    }
    .timestamp{
      font-family: $font-secondary;
      font-size: 13px;
    }
  }